In [ ]:
object - car

In [ ]:
object - state, behaviour

In [ ]:
state - variable - attribute
behaviour - method - function

In [1]:
class MyClass:
    x=5 
print(MyClass)

<class '__main__.MyClass'>

In [3]:
#create object 
#Now we can use the class named MyClass to create objects 
class MyClass:
    x=5 
object_1 = MyClass()  #object create 
print(object_1.x)

5

In [12]:
#create multiple objects of python class 
#we can also create multiple objects from as single class for example:
class Employee:
    employee_id = 0 
#create two objects of the Employee Class
employee1 = Employee() 
employee2 = Employee() 
#access properties using employee1 
employee1.employeeID = 1001 
print(f"Employee ID: {employee1.employeeID}") 
#access properties using employee2 
employee2.employeeID=1002 
print(f"Employee ID: {employee2.employeeID}")
print(f"employee id :{employee2.employee_id}")

Employee ID: 1001
Employee ID: 1002
employee id :0

In [23]:
class phone:
    name='Nokia' 
    model ='3.1+' 
    def display(self):
        print('good morning', self.name)
cell= phone() 
print(cell.name)
print(cell.model) 
cell.display()

Nokia
3.1+
good morning Nokia

In [16]:
class bike:
    name ='honda'
    model='CB350'  
    mileage='40kmpl' 
    engine ='4stroke engine'
features = bike() 
print(features.name) 
print(features.model)
print(features.mileage) 
print(features.engine)

honda
CB350
40kmpl
4stroke engine

In [27]:
class studentdetails:
    name='Aravind' 
    number='9993457664' 
    mailid= 'aravindgggd@gmail.com' 
    def details(self):
        print('details:', self.name, self.number, self.mailid)
school =studentdetails() 
school.details()

details: Aravind 9993457664 aravindgggd@gmail.com

In [29]:
class studentdetails:
    def __init__(self, name,number,mailid):
        self.name =name 
        self.number =number 
        self.mailid = mailid 
    def display(self_1):
        print("details:", self_1.name, self_1.number, self_1.mailid) 
det = studentdetails("Aravind", "9994808403", "aravindwas@gmail.com")
det.display()

details: Aravind 9994808403 aravindwas@gmail.com

In [33]:
class mathematics:
    def __init__(self,num1,num2):
        self.num1 =num1 
        self.num2 =num2 
    def display(obj2):
        print(obj2.num1+obj2.num2)
mat =mathematics(2,3)        
mat.display()

5

In [ ]:
#create class name
#3 function 
#1 init 
#2 fun name --> name, age 
#3 fun_

In [2]:
class student:
    def __init__(self,name,age,address,mail):
        self.name=name 
        self.age=age 
        self.address=address 
        self.mail= mail 
    def first_function(obj1):
        print(obj1.name, obj1.age)
    def second_function(obj2):
        print(obj2.address, obj2.mail) 
mat =student("Aravind", "25", "kovil street", "aravindvivek@gmail")
mat.first_function() 
mat.second_function()

Aravind 25
kovil street aravindvivek@gmail

In [9]:
class pyhton:
    def met(Self):
        pass
obj =pyhton()
obj.met()

In [ ]:
class student:
    count =0 
    def __init__():
        student.count=student.count+1

In [10]:
#constructor non  parameterized 
class Student:
    #constructor -non parameterized 
    def __init__(self):
        print("This is non parametrized constructor")
    def show(self,name):
        print("Hello ", name) 
student = Student() 
student.show("John")

This is non parametrized constructor
Hello  John

In [12]:
#parameterized constructor 
class Student:
    def __init__(self, name):
        print("This is parametrized constructor")
        self.name= name 
    def show(self):
        print("Hello ", self.name) 
student = Student("John")
student.show()

This is parametrized constructor
Hello  John

In [15]:
#default constructor 
class Student:
    roll_num =101 
    name ="Joseph" 
    def display(self):
        print(self.roll_num, self.name) 
st=Student() 
st.display()

101 Joseph

In [14]:
class Student:
    def __init__(self):
        print("The First Constructor")
    def __init__(self):
        print("The second constructor") 
st=Student()

The second constructor

In [17]:
class Person:
    def __init__(self, name, age):
        self.name = name 
        self.age = age 
    def myfunc(self):
        print("Hello my name is " + self.name) 
p1 = Person("python", 36) 
print(p1.age) 
p1.age=40 
print(p1.age)

36
40

In [14]:
#delete object properties 
class Person:
    gender='M'
    def __init__(self,name,age):
        self.name = name 
        self.age= age 
    def myfunct(self):
        print("Hello my name is " + self.name) 
p1 = Person("python", 36) 
del p1.age
print(p1.age)

AttributeError: 'Person' object has no attribute 'age'

In [10]:
class Person:
    name ='Krishna' 
    def __init__(self,age):
        self.age =age 
    def myfunction(self_1):
        print("Name is" ,self_1.name, "\n age is", self_1.age ) 
p1=Person(24) 
p1.name="Kumar"
p1.myfunction()  
p2 =Person(23) 
p2.myfunction()

Name is Kumar
 age is 24
Name is Krishna
 age is 23

In [19]:
#delete object properties 
class Person:
    gender='M'
    def __init__(self,name,age):
        self.name = name 
        self.age= age 
    def myfunct(self):
        print("Hello my name is " + self.name) 
p1 = Person("python", 36)  
print(p1.age,p1.gender) 
p1.gender ='f' 
print(p1.gender)

36 M
f

In [25]:
class Student: 
    '''hi hello this doc'''
    def __init__(self,name,id,age):
        self.name =name 
        self.id =id 
        self.age= age  
    def hi(self):
        print("ji") 
s= Student("john" , 101, 22) 
print(s. __doc__)
print(Student. __doc__)
print(s.__dict__)
print(Student.__dict__) 
Student. __bases__

hi hello this doc
hi hello this doc
{'name': 'john', 'id': 101, 'age': 22}
{'__module__': '__main__', '__doc__': 'hi hello this doc', '__init__': <function Student.__init__ at 0x0000026DE3103B80>, 'hi': <function Student.hi at 0x0000026DE3103940>, '__dict__': <attribute '__dict__' of 'Student' objects>, '__weakref__': <attribute '__weakref__' of 'Student' objects>}

(object,)